includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - ./
    excludes_analyse:
        - vendor/
        - test/
    bootstrapFiles:
        - wubtitle.php
    ignoreErrors:
        - '#Parameter \$str of function sanitize_text_field expects string, array<string>|string given.#'
        - '#Cannot access property [a-zA-Z0-9\\_]+ on int|WP_Post.#'
        - '#Access to an undefined property object::+#'

