includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - ./
    excludes_analyse:
        - vendor/
        - test/
    bootstrapFiles:
        - wubtitle.php
    ignoreErrors:
        # false positive, to the sanitize_text_field function I input wp_unslash output and it is never an array
        # wp_unslash returns an array only when it receives an array as input
        - '#Parameter \#[0-9]+ \$[a-zA-Z0-9\\_]+ of function sanitize_text_field expects string, array<string>\|string given.#'
        # get_posts () always returns WP_Post if args is not null. 
        - '#Cannot access property [a-zA-Z0-9\\_]+ on int|WP_Post.#'

