* {
	box-sizing: border-box;
}

body,
html {
	background-color: #f6f9fc;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

label {
	color: #6b7c93;
	font-weight: 300;
	letter-spacing: 0.025em;
}

button {
	white-space: nowrap;
	border: 0;
	outline: 0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	color: #fff;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	background-color: #6772e5;
	text-decoration: none;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
	margin-top: 10px;
	width: 100%;
}

button:hover {
	color: #fff;
	cursor: pointer;
	background-color: #7795f8;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.disabled {
	background-color: #7795f8;
}

/* selector should use lowercase but class is generated by stripe */
/* stylelint-disable-next-line selector-class-pattern */
.StripeElement,
input,
select,
.input {
	display: block;
	max-width: 500px;
	padding: 10px 14px;
	font-size: 1em;
	font-family: "Source Code Pro", monospace;
	box-shadow:
		rgba(50, 50, 93, 0.14902) 0 1px 3px,
		rgba(0, 0, 0, 0.0196078) 0 1px 0;
	border: 0;
	outline: 0;
	border-radius: 4px;
	background: #fff;
	width: 100%;
}

.prefix-input {
	width: 20%;
	float: left;
	background-color: #e9ecef;
}

.input-with-prefix {
	width: 80%;
}

input::placeholder {
	color: #aab7c4;
}

/* selector should use lowercase but class is generated by stripe */
/* stylelint-disable-next-line selector-class-pattern */
.StripeElement--focus,
input:focus {
	box-shadow:
		rgba(50, 50, 93, 0.109804) 0 4px 6px,
		rgba(0, 0, 0, 0.0784314) 0 1px 3px;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

/* selector should use lowercase but class is generated by stripe */
/* stylelint-disable selector-class-pattern */
.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
	padding: 0;
}
/* stylelint-enable selector-class-pattern */

/* selector should use lowercase but class is generated by stripe */
/* stylelint-disable-next-line selector-class-pattern */
.StripeElement.PaymentRequestButton {
	height: 40px;
}

.wrapper-form {
	width: 380px;
	margin: 0 auto;
}

.error-message {
	color: #f00;
}

.loading-margin {
	margin-right: 8px;
}

.form-field-container {
	margin: 10px 0 20px 0;
}

.hidden {
	display: none;
}

.columns {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.column {
	height: 100%;
	padding: 1rem;
}

.price-column {
	width: 33%;
	background: transparent linear-gradient(233deg, #D500F9 0%, #2962FF 99%) 0% 0% no-repeat padding-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}






.wrapper-form {
	width: 67%;
	overflow-y: scroll;
}