.e2w-title {
  padding: 8px 12px;
  margin-top: 0;
}

.header-settings {
  display: flex;
  justify-content: space-between  ;
  align-items: center;
}

.logo-placeholder {
  font-size: 30px;
  font-weight: bold;
}

.postbox tr{
  display: flex;
  flex-direction: column;
}
.postbox th{
  padding: 16px 0px 16px 0px;
}
.postbox td{
  padding: 0px 0px;
}
/* .e2w-button-submit .button-primary{
  position: absolute;
  right: 32px;
  top: 64px;
} */
