.e2w-title {
  padding: 8px 12px;
  margin-top: 0;
}
.wrap-e2w{
  width: 98%;
}
.wrap-e2w tr{
  display: flex;
  flex-direction: column;
}
.wrap-e2w th{
  padding: 16px 0px 16px 0px;
}
.wrap-e2w td{
  padding: 0px 0px;
}
.e2w-button-submit .button-primary{
  position: absolute;
  right: 32px;
  top: 64px;
}
