.wp-block-wubtitle-transcription .components-form-token-field__token-text {
  background-color: #fff;
}
.wp-block-wubtitle-transcription .components-button {
  background-color: #fff;
  position: absolute;
  right: 4px;
  margin-top: 2px;
}

.editor-block-list__block-edit .components-form-token-field__help {
  display: none;
}
